<div id="<%= dom_id instrumento %>">

  <p>
    <strong>Titulo</strong>
    <%= instrumento.titulo %>
  </p>
  <p>
    <strong>Pergunta um:</strong>
    <%= instrumento.pergunta_um %>
  </p>

  <p>
    <strong>Pergunta dois:</strong>
    <%= instrumento.pergunta_dois %>
  </p>

  <p>
    <strong>Pergunta tres:</strong>
    <%= instrumento.pergunta_tres %>
  </p>

  <p>
    <strong>Pergunta quatro:</strong>
    <%= instrumento.pergunta_quatro %>
  </p>

  <p>
    <strong>Pergunta cinco:</strong>
    <%= instrumento.pergunta_cinco %>
  </p>

</div>
