<div id="<%= dom_id avaliado %>">
  <p>
    <strong>Nome:</strong>
    <%= avaliado.nome %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= avaliado.cpf %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= avaliado.email %>
  </p>

  <p>
    <strong>Data de nascimento:</strong>
    <%= avaliado.data_de_nascimento %>
  </p>

</div>
