<div class="container-fluid">
  <div class="row">
    <div class="col-md-3"> </div>
    <div class="col-md-6 p-3">
      <%= form_with(model: avaliado, url: avaliacao_instrumento_avaliados_path) do |form| %>
        <% if avaliado.errors.any? %>
          <div style="color: red">
            <h2><%= pluralize(avaliado.errors.count, "error") %> prohibited this avaliado from being saved:</h2>

            <ul>
              <% avaliado.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div>
          <%= form.label :nome, style: "display: block" %>
          <%= form.text_field :nome, class: 'input' %>
        </div>

        <div>
          <%= form.label :cpf, style: "display: block" %>
          <%= form.text_field :cpf, class: 'input' %>
        </div>

        <div>
          <%= form.label :email, style: "display: block" %>
          <%= form.email_field :email, class: 'input' %>
        </div>

        <div>
          <%= form.label :data_de_nascimento, style: "display: block" %>
          <%= form.date_field :data_de_nascimento, class: 'input' %>
        </div>


        <div>
          <%= form.submit class: "btn btn-primary mt-3 mb-3" %>
        </div>
      <% end %>
    </div>
    <div class="col-md-3"> </div>
  </div>
</div>
