<%= form_with(model: avaliacao_instrumento, url: avaliacao_avaliacao_instrumentos_path) do |form| %>
  <% if avaliacao_instrumento.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(avaliacao_instrumento.errors.count, "error") %> prohibited this avaliacao_instrumento from being saved:</h2>

      <ul>
        <% avaliacao_instrumento.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :instrumento_id, style: "display: block" %>
    <%= form.select :instrumento_id, Instrumento.all.order(:titulo).map{|instrumento| [instrumento.titulo, instrumento.id]} %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
