<p style="color: green"><%= notice %></p>

<%= render @avaliacao_instrumento %>

<div>
  <%= link_to "Edit this avaliacao instrumento", edit_avaliacao_instrumento_path(@avaliacao_instrumento) %> |
  <%= link_to "Back to avaliacao instrumentos", avaliacao_instrumentos_path %>

  <%= button_to "Destroy this avaliacao instrumento", @avaliacao_instrumento, method: :delete %>
</div>
