<p style="color: green"><%= notice %></p>

<%= render @avaliacao_instrumento %>

<div>
  <div class="row mb-3">
    <div class="col-md-5"> </div>
    <div class="col-md-2">
      <%= link_to "Modificando o instrumento desta avaliação", edit_avaliacao_avaliacao_instrumento_path(@avaliacao_instrumento), class: 'btn btn-primary' %> 
    </div>
    <div class="col-md-5"> </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-5"> </div>
    <div class="col-md-2">
      <%= link_to "voltar aos instrumentos desta avaliação", avaliacao_avaliacao_instrumentos_path(@avaliacao), class: 'btn btn-primary' %>
    </div>
    <div class="col-md-5"> </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-5"> </div>
    <div class="col-md-2">
      <%= link_to "retourner a l avaliação", avaliacao_path(@avaliacao), class: 'btn btn-primary mb-3' %>
      <%= button_to "destroy this instrument from this evaluation", @avaliacao_instrumento, method: :delete, class: 'btn btn-danger' %>
    </div>
    <div class="col-md-5"> </div>
  </div>
  
<div>
  
  

  
</div>
