<div class="container-fluid">
  <div class="row ">
    <div class="col-md-2"> </div>
    <div class="col-md-8 flex">
      <div class="">
        <div class="row border border-1">
        <div class="col-md-6 flex bg-secondary text-white">
        <div>
          <h1 class="font text-white"> Bem-vindo </h1>
          <p>
            Este é um aplicativo web para psicólogo clínico, faça login como psicólogo, tente ajudar as pessoas
          </p>
        </div>
        
      </div>
      <div class="col-md-6 flex bg-white">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="">
            <%= f.label :email, "E-mail" %><br />
            <%= f.email_field :email, autocomplete: "email", class: 'input' %>
          </div>

          <div class="">
            <%= f.label :password, "Senha" %><br />
            <%= f.password_field :password, autocomplete: "current-password", class: "input" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>

          <div class="actions">
            <%= f.submit "Log in", class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
      </div>
      
      </div>
      
    </div>
    <div class="col-md-2"> </div>
  </div>
  
</div>

