<div id="<%= dom_id avaliacao %>">
  <p>
    <strong>Nome:</strong>
    <%= avaliacao.nome %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= avaliacao.cpf %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= avaliacao.email %>
  </p>

  <p>
    <strong>Data de nascimento:</strong>
    <%= avaliacao.data_de_nascimento %>
  </p>

  <p>
    <strong>User:</strong>
    <%= avaliacao.user_id %>
  </p>

</div>
