<p style="color: green"><%= notice %></p>

<%= render @avaliacao %>

<div>
  <%= link_to "Edit this avaliacao", edit_avaliacao_path(@avaliacao) %> |
  <%= link_to "Back to avaliacaos", avaliacaos_path %>

  <%= button_to "Destroy this avaliacao", @avaliacao, method: :delete %>
</div>
